@media (min-width:1161px){
    .menu, .banner, .gallery-container, .souvenirs, .matches{
        padding: 0 30px;
     }
    .container{
        width: 1160px;
    }
    .banner{
        place-items: center;
    }
}
@media (min-width:1025px) and (max-width:1160px){
    .menu, .banner, .gallery-container, .souvenirs, .matches{
        padding: 0 30px;
     }
     .container{
         width: 100%;
     }
     .banner{
        place-items: center;
    }
    .match-image{
        width: 100%;
    }
}
@media (min-width:769px) and (max-width:1024px) {
    .header{
        padding: 0 15px;
    }
    .header .menu .mobile-menu{
        display: none;
    }
    .header .menu ul{
        display: block;
    }
    .container{
        width: 100%;
    }
    .banner, .gallery-container, .souvenirs, .matches{
       grid-template-columns: repeat(2, 1fr);
       padding: 0 15px;
    }
    .players{
        grid-template-columns: repeat(3, 1fr);
        padding: 0 15px;
    }
    .banner-content h2{
        font-size: 45px;
        line-height: 60px;
    }
    .match-info{
        width: 100%;
    }
    .match-image{
        width: 100%;
    }
    .match-info h2{
        font-size: 35px;
        line-height: 45px;
    }
    
    .section-title h2{
        font-size: 35px;
    }
    .souvenirs-item{
    margin-bottom: 30px;
    }
   .souvenirs-item .souvenirs-info{
    margin-top: 10px;
    }
    .souvenirs-item .souvenirs-info h3{
        margin: 5px 0;
        font-weight: normal;
    }
    .souvenirs-item .souvenirs-info span{
        margin-top: 5px;
        color: #929191;
    }

    .banner-image{
       width: 100%;
    }
    .footer{
        padding: 60px 15px 30px;
    }
    .footer-image{
        width: 80%;
    }
}
@media (min-width:481px) and (max-width:768px) {
    .header{
        padding: 0 15px;
    }
    .header .menu .mobile-menu{
        display: block;
    }
    .header .menu ul{
        display: none;
    }
    .container{
        width: 100%;
    }
    .banner, .players, .gallery-container, .souvenirs, .matches{
       grid-template-columns: repeat(2, 1fr);
       padding: 0 15px;
    }
    .banner-content h2{
        font-size: 45px;
        line-height: 60px;
    }
    .match-info{
        width: 100%;
    }
    .match-image{
        width: 100%;
    }
    .match-info h2{
        font-size: 35px;
        line-height: 45px;
    }
    
    .section-title h2{
        font-size: 35px;
    }
    .souvenirs-item{
    margin-bottom: 30px;
    }
   .souvenirs-item .souvenirs-info{
    margin-top: 10px;
    }
    .souvenirs-item .souvenirs-info h3{
        margin: 5px 0;
        font-weight: normal;
    }
    .souvenirs-item .souvenirs-info span{
        margin-top: 5px;
        color: #929191;
    }

    .banner-image{
       width: 100%;
    }
    .footer{
        padding: 60px 15px 30px;
    }
    .footer-image{
        width: 80%;
    }
}

@media (min-width:320px) and (max-width:480px)  {
    .header{
        padding: 0 15px;
    }
    .header .menu .mobile-menu{
        display: block;
    }
    .header .menu ul{
        display: none;
    }
    .container{
        width: 100%;
    }
    .banner, .players, .gallery-container, .souvenirs, .matches{
       grid-template-columns: repeat(1, 1fr);
       padding: 0 15px;
    }
    .banner-content h2{
        margin-bottom: 15px;  
        font-size: 32px;
    }
    .match-info h2{
        font-size: 30px;
        line-height: 40px;
    }
    .match-image{
        width: 100%;
    }
    .section-title h2{
        font-size: 35px;
    }
    .souvenirs-item{
    margin-bottom: 30px;
    }
   .souvenirs-item .souvenirs-info{
    margin-top: 10px;
    }
    .souvenirs-item .souvenirs-info h3{
        margin: 5px 0;
        font-weight: normal;
    }
    .souvenirs-item .souvenirs-info span{
        margin-top: 5px;
        color: #929191;
    }

    .banner-image{
       width: 100%;
    }
    .footer{
        padding: 60px 15px 30px;
    }
    .footer-image{
        width: 90%;
    }
}
